body {
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 40px;
}

.jumbotron {
	margin-top: 50px;
}