.footer {
    color:#999;
    filter:Alpha(opacity=80);
    opacity:0.8;
    text-align:center;
    padding:30px 0;
    margin-top:70px;
    border-top:1px solid #151515;
    background-color:#050505
}
.footer p{
	position:relative;
}